* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../../../public/images/img3.jpeg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .login-form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 50px 60px;
    max-width: 350px;
    width: 90%;
    text-align: center;
  }
  
  .login-form h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 15px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0.01px  #fff; 
    outline: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
  }
  
  .form-group input::placeholder {
    color: #ccc;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-forgot label {
    color: #ccc;
  }
  

  .remember-forgot input[type="checkbox"] {
    accent-color: #fff; 
    width: 16px;
    height: 16px;
  }
  
  .forgot-password {
    color: #fff;
    text-decoration: none;
  }
  
  .login-btn {
    width: 100%;
    background: #32cd32;
    color: black;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .login-btn:hover {
    background: #2ab02a;
  }
  
  .signup-text {
    color: #999;
    margin-bottom: 15px;
  }
  
  .signup-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-text a:hover {
    color: #999;
  }
 
  .links-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
 
  .links-footer a {
    color: #999;
    text-decoration: none;
    font-size: 0.9rem;
  }
   /*
  .links-footer a:hover {
    color: #fff;
  }
  */